<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @film.Name %>
</p>

<p>
  <b>Year:</b>
  <%= @film.Year %>
</p>

<p>
  <b>Description:</b>
  <%= @film.Description %>
</p>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
